In [ ]:
import pandas as pd

a=[1,2,3,4,5]
x=pd.Series(a)  #Data is stored in the form of series(column)
print(x)

data={
    'Name':['Alice','Bob','Charlie'],
    'Age':[25,30,35],
    'City':['New York','Los Angeles','Chicago']
}

df=pd.DataFrame(data)  #Data is stored in the form of DataFrame(table)
df.describe()  #Summary of the data

0    1
1    2
2    3
3    4
4    5
dtype: int64

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0